@media (max-width: 1400px) {  }
@media (max-width: 1200px) {
    #title{
        font-size: 400%;
    }
}

@media (max-width: 992px) {
    #title{
        font-size: 300%;
    }
}

@media (max-width: 768px) {
    #title{
        font-size: 200%;
    }
}

@media (max-width: 606px) {
    #title{
        font-size: 150%;
    }
}










