.main-div{
    position: relative;
    padding-top: 5%;


}
#customer-section{
    padding: 0 4% 4%;
}
#item-section{
    padding: 0 4% 4%;
}

.main-div{
    display: grid;

    align-items: center;
    gap: 2rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.first{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}
.large-text {
    font-size: 36px;
}
.calendar-container {
    max-width: 400px;
    margin: auto;
}

#title{
    padding-left: 5rem;
    font-size: 400%;
}

.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
        background-image:
                url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: 110% auto;
        background-position: center;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}
/*
#main-container{
    padding: 0% 1% 0%;
    border: 0;
    margin: 1% 1% 1%;
}
*/

.col-form-label{
    color: black;
}
/*#customer-section{
    padding: 0% 0% 0%;
    border: 0;
    margin: 0% 0% 0%;

}*/
.main-div{
    padding: 0% 0% 0%;
    border: 0;
    margin: 0% 0% 0%;
}
#searchCustomer{
    width: 20rem;


}
#search{

}
.orderrrr{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
#order-section{
    padding: 1% 5% 5%;
}
#order-customer-details{
    width: 50rem;
    background-color: #ff253a;
}
.order_container{
    color: white;
    background: rgba(0, 0, 0, 0.36);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}
h1.topic {
    font-size: 2.5rem;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(#0e0907, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}