
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' ,sans-serif;


}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}


:root{
    --bg-color: #1f242d;
    --text-color: #ffffff;
    --theme-color: #01EEFF ;
    --theme-color1: #323846 ;
    --back-ground-color:#041632;
}
::-webkit-scrollbar-track {
    background: transparent;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #041632;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.navbar a{
    font-size: 1.2rem;
    color: #ffffff;
    margin-left: 1rem;
    transition: 1s;
}
.navbar a:hover{
    color: #00fff9;
}
.webLogo{
    width: 1%;
    aspect-ratio: 1/1;
}
#menu-icon{
    font-size: 2rem;
    color: var(--text-color);
    display: none;
}


.social-media-section{
    font-size: 2rem;
    color: var(--theme-color);

}

#welcome-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #041632;
    color:white ;

}

#profile-picture{
    background: transparent;
}

.home-text {

}

#pic{
    width: 80%;
    aspect-ratio: 1/1;
}

.home-text h3{
    font-size: 2.5rem;
    font-weight: 700;
}







