@media (max-width: 1200px) {
    html {
        font-size: 75%;
    }
  /*  section {
        padding: 11rem 2% 2rem;

    }*/


}


@media (max-width: 768px) {
    /*section {
        padding: 7rem 2% 1rem;
    }*/
   .search_panel{
       font-size: 50%;
   }
}

@media (max-width: 425px) {
    /*section {
        padding: 7rem 2% 1rem;
    }*/
    .search_panel{
        font-size: 30%;
    }
}