@media (max-width: 1200px) {
    /*#pic{
        content: url("assests/pic/my_png.png");
    }*/
    html {
        font-size: 75%;
    }
    /*section {
        padding: 11rem 1% 2rem;
    }
*/

}
@media (max-width: 2200px) {
    /*#pic{
        content: url("assests/pic/my_png.png");
    }*/
    html {
        font-size: 75%;
    }
    /*section {
        padding: 11rem 1% 2rem;
    }
*/
    div.social-media-section2{
        visibility: hidden;
    }
}
@media (max-width: 880px) {
    /*#pic{
        content: url("assests/pic/my_png.png");
    }*/
    html {
        font-size: 60%;
    }
    /*section {
        padding: 11rem 1% 2rem;
    }
*/
    div.social-media-section2{
        visibility: hidden;
    }
}

@media (max-width: 768px) {


    .welcome-page{
        margin-top: -1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: -1rem;

    }
    .home-text{
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    html {
        font-size: 80%;
    }
    #profile-picture{
        width: 220%;
    }
    div.social-media-section{
        display: none;
    }
    div.social-media-section2{
        visibility: visible;
    }

    .nametext{
        background: #ff253a;
    }
  .main{

      /*background-color: #ff253a;*/
      margin-top: -1rem;
      display: grid;
      justify-content: center;
      align-items: center;
      /*column-gap: -70rem;*/

  }

  .social-media-section2{
      margin-bottom: 1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

  }

    #pic{
        width: 50vw;
        height: 70vh;
        content:url("https://i.ibb.co/712QKSc/fullpng.png");
    }
    .welcome-page{
        width: 120vw;
        height: 100vh;
        /*background-color: #ff253a;*/
    }
   /* html {
        font-size: 60%;
    }*/
    section{
        padding: 1rem 7% 2rem;
    }

    .home-text{
        /*background-color: #ff253a;*/
        padding: 1rem 5% 20rem;
    }
    .welcome-page h1{
        font-size: 3rem;
    }

    .welcome-page h2{
        font-size: 2rem;
    }
    .welcome-page h3{
        font-size: 1.7rem;
    }
    .welcome-page p{

        font-size: 1rem;
    }
    .social-media-section{
        display: flex;

    }

/*-------------navigation bar-----------------*/
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--back-ground-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar a{
        display: block;
        font-size: 1.5rem;
        margin: 3rem 0;
    }
    .navbar.active{
        display: block;
    }


    /*===========projects===============*/
    .projects-container{
        grid-template-columns: repeat(2, 1fr);
    }


    /*===========About===============*/
    .about-me{
        flex-direction: column-reverse;
        margin-top: 3rem;
        padding:5rem 1% 2rem;
        gap: -5rem;
    }
    .about-me #outline-picture{
        width: 70vw;
        margin-top: 4rem;
    }
    .services{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px) {
    
    .projects-container{
        grid-template-columns: 1fr;
    }
    .services{
        grid-template-columns: 1fr;
    }
    /*section {
        padding: 3rem 2% 1rem;
    }*/
    .welcome-page h1{
        font-size: 2rem;
    }

    .welcome-page h2{
        font-size: 1.5rem;
    }
    .welcome-page h3{
        font-size: 1rem;
    }
    .welcome-page p{

        font-size: 0.8rem;
    }
}
@media (max-width: 425px) {
    .social-media-section{
        justify-content: center;
        align-items: center;
        gap: -1rem;
    }
    div.social-media-section{
        display: flex;
    }
    div.social-media-section2{
        display: none;
    }
    #pic{
        width: 70vw;
        height: 50vh;
        content:url("https://i.ibb.co/LhFGStQ/my-png3.png");

    }

    .welcome-page{

        height: 100vh;
        padding: 30rem 40% 20rem;
        flex-direction: column;
    }
    .home-text{
        width: fit-content;
        aspect-ratio: 1/1;
        flex-direction: column;
        gap: -10px;
        padding: -1rem 80% 20rem;

    }


}
@media (max-width: 450px) {
    .contact-me form .sender-box input{
        width: 100%;
    }
}