body{
    display: block;
    color-scheme: dark;
    background: radial-gradient(circle at top center, rgba(125, 188, 255, 0.5) 0, transparent 50%, transparent 100%);
    background-color: var(--bg-color);
    background-attachment: fixed;
}
:root{
    --bg-color: #1f242d;
    --theme-color: #01EEFF ;
    --theme-color1: #323846 ;
    --back-ground-color:#041632;
    --white-color: #ffff;
    --black-color: #000000FF;
}
html{

    overflow-x: hidden;
}

body{
    background: var(--back-ground-color);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' ,sans-serif;


}
section{

    padding: 10rem 9% 2rem;

}



::-webkit-scrollbar-track {
    background: transparent;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #041632;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar a{
    font-size: 1.2rem;
    color: var(--white-color);
    margin-left: 1rem;
    transition: 1s;
}
.navbar a:hover{
    color: #00fff9;
}
.webLogo{
    width: 1%;
    aspect-ratio: 1/1;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--theme-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--theme-color);
    color: var(--black-color);
    transition: 1s ;
}
.btn:hover{
    box-shadow: 0 0 3rem var(--theme-color);
    color: var(--white-color);
    background: var(--back-ground-color);
    transform: scale(1.02);

}

/*------------welcome page css------------*/
.welcome-page{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-section a{
    font-size: 2rem;
    color: var(--theme-color);

}

#welcome-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #041632;
    color: var(--white-color);

}


#profile-picture{
    background: transparent;
}

.home-text {
    width: 180rem;
    height: 25rem;
    /*background: white;*/
}

#pic{
    width: 100%;
    aspect-ratio: 1/1;
}


.home-text h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-text h2{
    font-size: 2rem;
    font-weight: 700;

}

.home-text h3{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1;
}
.home-text p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.1;
}
.social-media-section a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    aspect-ratio: 1/1;
    background: transparent;
    border: 0.1rem solid var(--theme-color);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 1s ease;
}
.social-media-section a:hover{
    background: var(--theme-color);
    color: var(--theme-color1);
    box-shadow: 0 0 1rem var(--back-ground-color
    );
}

/*------------about me page css------------*/
#aboutMe-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--theme-color1);
    color:var(--white-color) ;

}

#outline-picture{
    width: 100%;
    height:100%;
}
#first-div{
    width: 70%;
    aspect-ratio: 1/1;


}

.about-me h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
}

#second-div{
    width: 60%;
    height: 30vh;



}
#second-div .me-text {
    color: var(--theme-color);
}



/*------------services Section---------------*/
.services .topic h2{
    margin-bottom: 5rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.me-text {
    color: var(--theme-color);

}
.topic{
    margin: 2rem 0 3rem;
}

.topic{
    text-align: center;
    font-size: 3rem;
    color: var(--white-color);
}

.container .services-box {
    flex: 1 1 10rem;
    background: var(--theme-color1);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--theme-color1);
    transition: 1s ease;
}

.services-box img{
    color: var(--theme-color);
}
.services-box h3{
    font-size: 2rem;
    color: var(--white-color);
}

.services-box p{
    font-size: 1.2rem;
    margin: 1rem 0 3rem;
    color: var(--white-color);
}
.container .services-box:hover{
    border-color: var(--theme-color);
    transform: scale(1.02);
}

/*------------Projects Section---------------*/

#my_project{
    background: var(--theme-color1);
}
#my_project h2{
    margin-bottom: 2rem;
}
.projects-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.projects-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--back-ground-color);
    overflow: hidden;
    display: flex;
}
.project-box img{
    width: 100%;
    transition: 1s ease;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--theme-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    color: var(--white-color);
    transform: translateY(100%);
    transition: 2s ease;
}
.project-box:hover .project-layer{
    transform: translate(0);
}
.project-layer h3{
    font-size:2rem;
}
.project-layer p{
    font-size: 1.1rem;
    margin: 3rem 0 1rem;
}

.project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}





